*{
	box-shadow: border-box;
}
body {
		  background: ;
		  font-family: Century Gothic;
		  margin: 0;
		}
nav{
	background: #0038a8;
	font-size: 20px;
	text-transform: uppercase;
}
.nav-link{
	color: #fff	;
}
.nav-link:hover{
	/* background-color:#0074e4; */
	color: #FFF80A;
}
div[class~="carousel-item"] img{
	width: max(100%);
	height: max(100vh);
}
section{
	padding:50px 10%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-shrink: 50%;
}
section div[class~="card"]:hover{
	box-shadow: 0 0 50px 0 rgba(33, 37, 41, 1);
	animation: cards .5s ease;

}
.course{
	background-color: #0038a8 ;
}
@keyframes cards{
	
	0% {transform: scale(1, 1);}
  50% {transform: scale(1.1, 1.1);}
  100% {transform: scale(1, 1);}
}
div[ class~="card"]{
	margin-bottom: 20px;
}
div[ class~="card"] img{
	width: 100%;
	height: 20rem;
}
div[class~="card-body"] a{
	background-color: #FFF80A;
}
div[class~="card-body"] a:hover{
	background-color: #0038a8;
}
section[id~="gallery"] img:hover{
	box-shadow: 0 0 20px 0 rgba(33, 37, 41, 1);
	cursor: pointer;
	animation: gallery .5s ease;
}
@keyframes gallery{
	0% {transform: scale(1, 1);}
  50% {transform: scale(1.1, 1.1);}
  100% {transform: scale(1, 1);}
}
section[id~="about"]{
	background-color: #0038a8;
	color: #fff;
}
.contact-form{
	box-shadow: 0 0 50px  rgba(37, 39, 47, 1.0);
}
.contact-form button{
	background-color:#FFF80A ;
}
.contact-form button:hover{
	background-color:#0038a8 ;
}
footer{
	background-color: rgba(37, 39, 47, 1.0);
	border: 1px solid rgb(37, 39, 47);;
	color: #fff;
}

footer a{
	display: block;
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
}
footer a:hover{
	color: #FFF80A;
}
.item:after {
 content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
  background-color: rgba(0, 56, 168, .5);
  border-radius: 20px;
  padding: 10px;
}
.carousel-caption h1{
	color:#FFF80A ;
}
.carousel-caption p{
	font-size: 20px;
	color:#FFF80A;
}
/*div[class~="modal-body"]{
	background-color:#0038a8 ;
	color: #fff;
}*/
div[class~="modal-header"],div[class~="modal-footer"]{
	background-color:#0038a8 ;
	color: #FFF80A;
}